/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
//     --color-primary: #5721f2;
//     --color-on-surface: #000;
        --dark-shade-gray: #121212;
        --dark-shade-gray-play: #292929;
        --dark-shade-gray-static: #18181c;
        --white-color: #FFF;
        --color-gray-text: #BFBFBF;
        --gray-active:#444444;
        --opacity-dark-70:#000000b2;
        --opacity-dark-50:#00000080;
 }