.playlist-component {

  & &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 150px;
}
& &__menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

& &__menu-icon:hover {
    cursor: pointer;
    // .playlist-component__menu-img {
        //     filter: invert(1);
        // }
        .playlist-component__menu-text {
            font-size: 12px;
      font-weight: 700;
      line-height: 14px;
    }
  }

  & &__menu-img {
      max-width: 20px;
      align-self: center;
    }
    
    & &__menu-img {
        
        &[data-active="0"] {
            display: none;
        }
        
        &[data-active="1"] {
            display: block;
        }
    }
    
    & &__menu-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        transition: .7s;
  }

  @media (max-width:645px){
     
    & &__menu {
        display: none;
    }
  }
}
