.playlist-component {

  & &__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 150px;
  }
  & &__menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & &__menu-icon:hover {
    cursor: pointer;

    .playlist-component__menu-text {
      font-size: 12px;
      font-weight: 700;
      line-height: 14px;
    }

    .playlist-component__menu-img {
      path {
        // background-color: white;
        fill: var(--white-color);
      }
    }
  }

  & &__menu-img {
    max-width: 20px;
    align-self: center;
  }
  
 

  & &__menu-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    transition: 0.2s;
  }

  @media (max-width: 645px) {
    & &__menu {
      display: none;
    }
  }
}
