.playlist-component {
  & &__showing-list {
    position: absolute;
    z-index: 1;
    margin-top: 25px;
    list-style: none;
    max-width: 248px;
    background-color: var(--dark-shade-gray-play);
    padding: 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  & &__showing-list-el {
    border-radius: 8px;
    padding: 16px;
    transition: .2s;
  }
  
  & &__showing-list-el:hover {
    background-color: var(--gray-active);
  }

  .list-group {
    border-top: 1px solid var(--gray-active);
    border-bottom: 1px solid var(--gray-active);
    border-width: calc(100% - 8px);    
  }
  
  .share {
    border-top: 1px solid var(--gray-active);
    border-width: calc(100% - 8px);    
  }

  .list-arrow {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    .arrow {
      transform: rotate(180deg);
      width: 7px;
    }
  }

  @media (max-width: 600px) {
    & &__showing-list {
      display: none;
    }
  }
}
