.playlist-component {
  & &__songs-nav {
    padding: 31px 0 26px 0;
    display: flex;
    gap: 32px;
    align-items: center;
    }

    .play-icon {
      display: none;
    }

  .icon-container {
    height: 20px;
  }

  .icon {
    transition: 0.2s;
  }

  .icon:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  
  .icon-container:hover {
    cursor: pointer;
    opacity: 0.6;

  }

  & &__songs {
    display: flex;
    flex-direction: column;
    padding: 0 50px 0;
    height: 700px;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }

  & &__songs-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  & &__song-element {
    display: grid;
    grid-template-columns: 0.2fr .4fr 2.9fr 3.2fr 1.4fr 1fr;
    align-items: center;
    border-radius: 17px;
    padding: 14px 50px 14px;
    max-height: 88px;
    max-width: 100%;
    transition: 0.2s;
    position: relative;

    &[data-play="false"] {
      background-color: var(--dark-shade-gray-static);

      .playlist-component__song-icons {
        display: none;
      }
    }
  }

  & &__song-element:hover {
    background-color: var(--dark-shade-gray-play);
    cursor: pointer;
    .playlist-component__song-icons {
      display: flex;
    }

    .number {
      display: none;
    }

    .play-icon {
      display: block;
    }
  }

  & &__song-element:active {
    background-color: var(--gray-active);
  }

  & &__song-text-up {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: var(--color-gray-text);
    padding-bottom: 2px;
  }

  & &__song-text-down {
    padding-top: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
  }

  & &__song-number {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
  }

  & &__song-img {
    padding: 3px 32px 0;

    img {
      max-width: 56px;
      border-radius: 10px;
    }
  }

  & &__song-icons {
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    
    .like {
      img {
        max-width: 24px;
      }
    }
   
  }

  @media (max-width: 1248px) {

    & &__song-element {
      grid-template-columns: minmax(20px, .2fr) 0.5fr 1fr 1fr 1fr 1.1fr;
    }
  }

  @media (max-width: 970px) {

      & &__user {
          display: none;
      }
      
      & &__songs-nav {
           padding: 24px 0 ;
      }

      .icon {
        img {
          width: calc(100% - 3px);
        }
        img[src="/public/images/like.svg"]{
          width: calc(100% - 6px);
          margin-left: -3px;
        }
        }

        .icon-container img {
          margin-left: -8px;
        }
      

      & &__songs {
          padding: 0 1em;
      }

      & &__song-img {
        padding: 14px 24px;
      }

    & &__song-element {
      grid-template-columns: minmax(20px, .2fr) 0.3fr 1.2fr 1fr 1fr;
      padding: 0 24px;
    }
    
    & &__song-time {
        display: none;
    }

    & &__song-text-up {
      padding: 0;
    }
}

@media (max-width: 645px) {
    

    & &__song-element {
      grid-template-columns: minmax(20px, .2fr) 0.2fr minmax(60px, 1fr) minmax(20px, 0.5fr);
    }

    & &__song-artists {
        display: none;
    }
  }

  @media (max-width: 300px){

    & &__song-element {
      padding: 0 16px;
    }
  }
}
